@{
    ItemForSale item = ViewBag.SelectedItem;
}

<div>
    <img alt="@item.ItemName" src="@item.Picture" style="max-height:250px" />
    <h2>@item.ItemName</h2>
    <p>About: @item.ItemDescription</p>
    <p>Price: @item.ItemPrice SEK</p>
    <p>In stock: @item.InStock</p>
    
    @if(ViewBag.LoggedIn == true){
        <button class="btn btn-dark" asp-controller="ShoppingCart" asp-action="Cart" asp-route-itemId="@item.ItemId">Add to cart</button>
    }
</div>